<div class="container">
    <div class="row">
        <table>
            <tbody>
            <tr>
                <th>Nom :</th>
                <td>{{ player.name }}</td>
            </tr>
            <tr>
                <th>Titre de nobelle :</th>
                <td>{{ player.title }}</td>
            </tr>
            <tr>
                <th>Couleur de jeu :</th>
                <td>{{ player.color }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
